<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>Perhitungan efisiensi energi untuk rumah pintar</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h3>Hitung efisiensi energi rumahmu!</h3>
      <p>Ambil inisiatif dan<br><br> selesaikan masalah<br><br>konsumsi energi yang berlebihan</p>  
    </div>
  </header>
  <main>
    {% block content %}
    <h1 class="main__title main__title--margin">Efisiensi energi rumah kamu:</h1>
    <div class="main__rez" id="end">
        {%if result <= 150.00%}
        <img class="rez__img" src="../../static/img/planet_good.svg" alt="">
        <span>Hasil kamu {{result}} kWh</span>
        <span>Rumah kamu sangat efisien dalam hal konsumsi energi!</span>
        {%elif result > 150.00 and result < 300.00%}
        <img class="rez__img" src="../../static/img/planet_medium.svg" alt="">
        <span>Hasil kamu {{result}} kWh</span>
        <span>Efisiensi energi rumah kamu rata-rata!</span>
        <span>Apakah Anda ingin membuat dunia menjadi tempat yang lebih ramah lingkungan? Isi formulir dan kami akan membuat bangunan ramah lingkungan untuk Anda!</span>
        <!-- Assignment 3. Create a link that would redirect the user to the form-->
        <a href="{{ url_for('form') }}" class="main__link">Fill out the form</a>
        {%elif result >= 300.00%}
        <img class="rez__img" src="../../static/img/planet_bad.svg" alt="">
        <span>Hasil kamu {{result}} kWh</span>
        <span>Efisiensi energi rumah kamu di bawah rata-rata!</span>
        <span>Apakah Anda ingin membuat dunia menjadi tempat yang lebih ramah lingkungan? Isi formulir dan kami akan membuat bangunan ramah lingkungan untuk Anda!</span>
        <!-- Assignment 3. Create a link that would redirect the user to the form-->
        <a href="{{ url_for('form') }}" class="main__link">Fill out the form</a>
        {%endif%}
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
